<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://download1400.mediafire.com/yujrr6l9bk3g/g4hbpf0rhlli5t5/unc0ver.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.3rdparty.river</string>
<key>bundle-version</key>
<string>1.0.0a</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>River</string>
</dict>
</dict>
</array>
</dict>
</plist>
